[Unit]
Description=getsby

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill getsby
ExecStartPre=-/usr/bin/docker rm getsby
ExecStartPre=-/usr/bin/docker kill getsby-certs-sync
ExecStartPre=-/usr/bin/docker rm getsby-certs-sync
ExecStartPre=/usr/bin/docker pull grahamc/jekyll
ExecStartPre=/usr/bin/docker pull secondbit/getsby
ExecStartPre=/usr/bin/docker pull busybox
ExecStartPre=/usr/bin/docker pull gerasim13/busybox-git
ExecStartPre=/usr/bin/docker pull google/cloud-sdk
ExecStartPre=-/usr/bin/docker run -v /etc/ssl/certs/ -v /src -v /var/www --name getsby-data busybox echo Data for getsby
ExecStartPre=-/usr/bin/docker run --rm --volumes-from getsby-data busybox rm -rf /src/getsby
ExecStartPre=/usr/bin/docker run --rm --volumes-from getsby-data gerasim13/busybox-git clone git://github.com/secondbit/getsby.git /src/getsby
ExecStartPre=/usr/bin/docker run --rm --volumes-from getsby-data grahamc/jekyll build --source /src/getsby --destination /var/www/getsby
ExecStartPre=/usr/bin/docker run --volumes-from getsby-data --name getsby-certs-sync google/cloud-sdk gsutil cp -R gs://certs.getsby.co/* /etc/ssl/certs/
ExecStart=/usr/bin/docker run --rm --volumes-from getsby-data --name getsby -p=80:80 -p=443:443 secondbit/getsby
ExecStop=/usr/bin/docker stop getsby

[X-Fleet]
X-Conflicts=getsby.*.service
X-Conflicts=hgweb-nginx.*.service
X-Conflicts=hgweb-nginx-ssl.*.service
