/* Page headers */
.bs-header {
  padding: 30px 30px 40px;
  color: #5a5a5a;
  border-bottom: 1px solid #e5e5e5;

  @media (max-width: 770px) {
  	text-align: center;
  }

  img {
  	height: 150px;
  	margin-right: 15px;
  	border-radius: 15px;

  	@media (min-width: 770px) {
  		float: left;
  	}
  }

  h1 {
  	color: @purple;
  }

  .wordmark {
  	font-style: italic;
  	font-family: @font-family-serif;
  	color: @gray-light;

  	a {
      color: @gray-light;

      &:hover {
        text-decoration: none;
       color: @gray;
      }
    }
  }

  p {
  	font-weight: 300;
  	line-height: 1.5;
  }

  .container {
  	position: relative;
  }

  .intro a {
  	color: @purple;
	text-decoration: underline;
  }
}

article {
	h2:nth-of-type(1), h2:nth-of-type(1) ~ *:not(h2) a, h2:nth-of-type(1) ~ blockquote {
		color: @orange;
	}
	h2:nth-of-type(1) ~ blockquote {
		border-color: @orange;
	}
	h2:nth-of-type(2), h2:nth-of-type(2) ~ *:not(h2) a, h2:nth-of-type(2) ~ blockquote {
		color: @yellow;
	}
	h2:nth-of-type(2) ~ blockquote {
		border-color: @yellow;
	}
	h2:nth-of-type(3), h2:nth-of-type(3) ~ *:not(h2) a, h2:nth-of-type(3) ~ blockquote {
		color: @blue;
	}
	h2:nth-of-type(3) ~ blockquote {
		border-color: @blue;
	}
	h2:nth-of-type(4), h2:nth-of-type(4) ~ *:not(h2) a, h2:nth-of-type(4) ~ blockquote {
		color: @purple;
	}
	h2:nth-of-type(4) ~ blockquote {
		border-color: @purple;
	}
	a {
		font-weight: 500;
	}
}
