<script type="text/javascript">
	var _gauges = _gauges || [];
	(function() {
	 var t   = document.createElement('script');
	 t.type  = 'text/javascript';
	 t.async = true;
	 t.id    = 'gauges-tracker';
	 t.setAttribute('data-site-id', '524708c9108d7b597a00000c');
	 t.src = '//secure.gaug.es/track.js';
	 var s = document.getElementsByTagName('script')[0];
	 s.parentNode.insertBefore(t, s);
	 })();

var subscribeLink = document.getElementById("subscribe-link");
if(subscribeLink) {
	subscribeLink.onclick=function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z); return false};
}
</script>
