<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Gets by core CSS -->
<link href="/css/style.css" rel="stylesheet">

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic|PT+Serif:400italic' rel='stylesheet' type='text/css'>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="/assets/js/html5shiv.js"></script>
  <script src="/assets/js/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
                <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
                               <link rel="shortcut icon" href="/assets/ico/favicon.png">
<link rel="alternate" type="application/rss+xml" title="gets by" href="http://getsby.co/feed.xml" />
<meta property="og:title" content="{% if page.name %}{{ page.name }} {% endif %}Gets By" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://{% if page.id %}{{ page.id | split:"/" | last }}.{% endif %}getsby.co" />
<meta property="og:image" content="http://getsby.co/img/{% if page.image %}people/{{ page.image }}{% else %}logo.png{% endif %}" />
<meta property="og:description" content="{% if page.intro %}{{ page.intro | markdownify | strip_html }}{% else %}gets by is a collection of stories about living with a mental illness, as told by the tech community.{% endif %}">
