<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
    <!-- Place anything custom after this. -->
  </head>
  <body>
    <!-- Docs page layout -->
    <div class="bs-header" id="content">
      <div class="container">
        <img src="{{ page.image }}" />
        <h1>{{ page.title }} <span class="wordmark"><a href="">&middot; gets by</a></span></h1>
        <p>{{ page.lead }}</p>
      </div>
    </div>

    <div class="container bs-docs-container">
      <div class="row">
        <article class="col-md-9" role="main">
          {{ content }}
        </article>
      </div>

    </div>

  </body>
</html>
