<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta, title, CSS, favicons, etc. -->
		<title>Gets By</title>
		{% include header.html %}
		<!-- Place anything custom after this. -->
	</head>
	<body>
		<!-- Docs page layout -->
		<div class="bs-header" id="content">
			<div class="container">
				<div class="col-md-8 col-md-offset-2">
					<img src="/img/logo.png" />
					<h1><span class="wordmark"><a href="http://getsby.co">gets&nbsp;by</a></span></h1>
					<div class="intro"><span class="wordmark">gets by</span> is a collection of stories about living with a mental illness, as told by the tech community.{% if page.url != "/about/index.html" %} <a href="http://getsby.co/about" title="About Gets By">Find out more.</a>{% endif %}</div>
				</div>
			</div>
		</div>
		<div class="interviews">
			{{ content }}
		</div>
		{% include footer.html %}
	</body>
</html>
